body {
  font-family: monospace;
  font-weight: 100;
  color: #2c3e50; }

.bottom-border {
  border-bottom: 1px solid #bdc3c7;
  padding-bottom: 8px;
  margin-bottom: 32px; }

.title {
  margin-bottom: 16px;
  color: #2980b9; }

#container {
  padding: 8px; }

.config-container {
  padding: 0 0 0 16px;
  margin: 0 0 32px 0; }

.config-name {
  font-size: 12px; }

.config-value {
  font-weight: bold; }

.execution-block {
  margin: 0;
  padding: 0; }

.execution-block.suites .execution,
.execution-block.failures .execution {
  list-style: none;
  padding: 16px;
  margin: 2px 0px; }

.execution.failed {
  background: #e74c3c;
  border: 4px solid #c0392b;
  color: white; }

.execution.success {
  background: #2ecc71;
  border: 4px solid #27ae60;
  color: white; }

.execution .test-title,
.execution .test-reason {
  display: block; }

.test-reason {
  margin-top: 16px; }

.reason-detail label {
  font-weight: bold;
  color: black;
  margin-right: 16px; }

.tab-titles {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #7f8c8d; }

.tab-titles .tab-title {
  display: inline;
  padding: 12px 12px 0 12px;
  font-size: 18px; }

.tab-title.current {
  border: 1px solid #7f8c8d;
  border-bottom: 1px solid white;
  font-weight: bold; }

.graph-title,
.graph-actions {
  display: inline-block;
  margin-right: 16px; }

